<h1
    style='text-align: center;text-align: center;
    font-weight: 600;
    padding: 20px; '
>Đăng ký học phần</h1>

{{#if listlhpopen.errCode}}

    <div style='text-align: center;' class='alert alert-primary' role='alert'>
        {{listlhpopen.message}}
    </div>
{{else}}
    <table class='table table-success table-striped' style='width: 900px; margin:auto'>
        <thead>
            <tr>
                <th>Tên lớp học phần</th>
                <th>Trạng thái</th>
                <th>số lượng tín chỉ</th>
                <th>Số lượng đã đăng ký</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            {{#each listlhpopen.data}}

                <tr>
                    <td>{{this.name}}</td>
                    <td>{{#if this.state}}
                            Mở
                        {{else}}
                            Đóng
                        {{/if}}</td>
                    <td>{{this.quantityoftinchi}}</td>
                    <td>{{this.quantityOfRegisteredStudent}}/{{this.quantityOfstudents}}</td>
                    <td>
                        <a href='/student/register-lhp?lhpId={{this.lhpId}}'>
                            <button type='button' class='btn btn-secondary'>
                                Đăng ký
                            </button>
                        </a>

                    </td>
                </tr>

            {{/each}}
        </tbody>
    </table>
{{/if}}