<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Document</title>
        <link rel='stylesheet' href='css/bootstrap.css' />
        <link rel='stylesheet' href='css/app.css' />
        <link rel='stylesheet' href='css/changePsw.css' />

        <link
            rel='stylesheet'
            href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
        />

        <script src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js'></script>

    </head>
    <body>
        <div id='app'>

            <div id='header'>
                <div class='header_content'>
                    <div class='logo'>

                        <img src='images/Harvard-Emblem.png' alt='' class='logo_school' />
                    </div>
                    <div class='search_bar'>
                        <form action=''>
                            <input
                                type='text'
                                id='k'
                                name='k'
                                langid='header-search-placeholder'
                                placeholder='Tìm kiếm...'
                                required=''
                            />
                            <button type='submit'><i class='fa fa-search' aria-hidden='true'></i></button>
                        </form>
                    </div>
                    <div class='menu_top'>
                        <ul>
                            <li>
                                <a href='/' title=''>
                                    <span><i class='fa fa-home' aria-hidden='true'></i></span>
                                    Trang chủ

                                </a>
                            </li>
                            {{#if userData}}
                                {{#if userData.isStudent}}
                                    <li class='user-info'>

                                        <img
                                            class='user-account-img'
                                            src='{{{userData.avatar}}}'
                                            style='width: 30px;height: 30px;border-radius: 50% !important;object-fit: cover;'
                                        />
                                        <a class='user-account-name' href='#' title=''>
                                            {{{userData.LastName}}}
                                            {{{userData.FirstName}}}
                                        </a>
                                        <i class='fa fa-caret-down user-account-name-caret-down' aria-hidden='true'></i>

                                    </li>

                                    <ul class='us-links'>

                                        <li><a href='changePsw_form'>Đổi mật khẩu</a></li>
                                        <li><a href='/logout' title=''>Đăng xuất</a></li>
                                    </ul>
                                {{else}}
                                    <li class='user-info'>

                                        <img
                                            class='user-account-img'
                                            src='images/avatar1.jpg'
                                            style='width: 30px;height: 30px;border-radius: 50% !important;object-fit: cover;'
                                        />
                                        <a class='user-account-name' href='#' title=''>
                                            {{{userData.LastName}}}
                                            {{{userData.FirstName}}}
                                        </a>
                                        <i class='fa fa-caret-down user-account-name-caret-down' aria-hidden='true'></i>

                                    </li>

                                    <ul class='us-links'>

                                        <li><a href='changePsw_form'>Đổi mật khẩu</a></li>
                                        <li><a href='/logout' title=''>Đăng xuất</a></li>
                                    </ul>
                                {{/if}}

                            {{else}}

                                <a href='/login-form' class='Login-button'>Login</a>

                            {{/if}}

                        </ul>
                    </div>

                </div>
            </div>
            <div id='container'>
                {{{body}}}
            </div>
            <div id='footer'>

            </div>
        </div>
    </body>
</html>
<script src='js/main.js'></script>