<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Document</title>
        <link rel='stylesheet' href='css/bootstrap.css' />
        <link
            rel='stylesheet'
            href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
        />
    </head>
    <body>
        <div class='container py-5 h-100'>
            <div class='row justify-content-center align-items-center h-100'>
                <div class='col-12 col-lg-9 col-xl-7'>
                    <div class='card shadow-2-strong card-registration' style='border-radius: 15px;'>
                        <div class='card-body p-4'>
                            <h3 class='mb-4 pb-2 pb-md-0 mb-md-5'>Mẫu đăng ký</h3>
                            <form action='register' method='post' enctype='multipart/form-data'>

                                {{#if userData.errCode}}
                                    <div class='row'>
                                        <div class='col-md-6 mb-4'>

                                            <div class='form-outline'>
                                                <input
                                                    type='text'
                                                    maxlength='50'
                                                    id='firstName'
                                                    name='fName'
                                                    class='form-control form-control-lg'
                                                    value='{{userData.data.fName}}'
                                                    required
                                                />
                                                <label class='form-label' for='firstName'>Họ và tên đệm</label>
                                            </div>

                                        </div>
                                        <div class='col-md-6 mb-4'>

                                            <div class='form-outline'>
                                                <input
                                                    type='text'
                                                    maxlength='50'
                                                    id='lastName'
                                                    name='lName'
                                                    class='form-control form-control-lg'
                                                    value='{{userData.data.lName}}'
                                                    required
                                                />
                                                <label class='form-label' for='lastName'>Tên</label>
                                            </div>

                                        </div>
                                    </div>

                                    <div class='row'>
                                        <div class='col-md-6 mb-4 d-flex align-items-center'>

                                            <div class='form-outline datepicker w-100'>
                                                <input
                                                    type='date'
                                                    name='date'
                                                    class='form-control form-control-lg'
                                                    id='birthdayDate'
                                                    value='{{userData.data.date}}'
                                                    required
                                                />
                                                <label for='birthdayDate' class='form-label'>Ngày sinh</label>
                                            </div>

                                        </div>

                                        <div class='col-md-6 mb-4'>

                                            <h6 class='mb-2 pb-1'>Giới tính: </h6>

                                            <div class='form-check form-check-inline'>
                                                <input
                                                    class='form-check-input'
                                                    type='radio'
                                                    name='sex'
                                                    id='femaleGender'
                                                    value='0'
                                                />
                                                <label class='form-check-label' for='femaleGender'>Nữ</label>
                                            </div>

                                            <div class='form-check form-check-inline'>
                                                <input
                                                    class='form-check-input'
                                                    type='radio'
                                                    name='sex'
                                                    id='maleGender'
                                                    value='1'
                                                />
                                                <label class='form-check-label' for='maleGender'>Nam</label>
                                            </div>

                                        </div>

                                    </div>
                                    <div class='row'>

                                        <div class='col-md-6 mb-4'>
                                            <input
                                                type='text'
                                                maxlength='100'
                                                id='adress'
                                                name='adress'
                                                class='form-control form-control-lg'
                                                value='{{userData.data.adress}}'
                                                required
                                            />
                                            <label class='form-label' for='adress'>Nơi sinh</label>
                                        </div>

                                        <div class='col-md-6 mb-4'>
                                            <input
                                                type='file'
                                                id='Avatar'
                                                name='avatar'
                                                class='form-control form-control-lg'
                                                required
                                            />
                                            <label class='form-label' for='Avatar'>Avatar</label>
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-md-6 mb-4'>
                                            <div class='form-outline'>
                                                <input
                                                    type='text'
                                                    maxlength='50'
                                                    id='accountName'
                                                    name='accountName'
                                                    class='form-control form-control-lg'
                                                    value='{{userData.data.accountName}}'
                                                    autofocus
                                                    required
                                                />
                                                <label class='form-label' for='lastName'>Tên đăng nhập</label>
                                            </div>
                                        </div>
                                        <div class='alert alert-warning' role='alert'>
                                            <i class='fa fa-exclamation-triangle' aria-hidden='true'></i>
                                            {{userData.message}}
                                        </div>
                                        <div class='col-md-6'>

                                            <label class='form-label' for='major'>Ngành học :</label>
                                            <select id='major' name='major'>
                                                <option value='CNTT'>Công nghệ thông tin</option>
                                                <option value='KT'>Kinh tế</option>
                                                <option value='OTO'>Ô tô</option>
                                                <option value='QTKD'>Quản trị kinh doanh</option>
                                                <option value='TCNH'>Tài chính ngân hàng</option>
                                                required
                                            </select>

                                        </div>

                                    </div>
                                {{else}}
                                    <div class='row'>
                                        <div class='col-md-6 mb-4'>

                                            <div class='form-outline'>
                                                <input
                                                    type='text'
                                                    maxlength='50'
                                                    id='firstName'
                                                    name='fName'
                                                    class='form-control form-control-lg'
                                                    required
                                                />
                                                <label class='form-label' for='firstName'>Họ và tên đệm</label>
                                            </div>

                                        </div>
                                        <div class='col-md-6 mb-4'>

                                            <div class='form-outline'>
                                                <input
                                                    type='text'
                                                    maxlength='50'
                                                    id='lastName'
                                                    name='lName'
                                                    class='form-control form-control-lg'
                                                    required
                                                />
                                                <label class='form-label' for='lastName'>Tên</label>
                                            </div>

                                        </div>
                                    </div>

                                    <div class='row'>
                                        <div class='col-md-6 mb-4 d-flex align-items-center'>

                                            <div class='form-outline datepicker w-100'>
                                                <input
                                                    type='date'
                                                    name='date'
                                                    class='form-control form-control-lg'
                                                    id='birthdayDate'
                                                    required
                                                />
                                                <label for='birthdayDate' class='form-label'>Ngày sinh</label>
                                            </div>

                                        </div>
                                        <div class='col-md-6 mb-4'>

                                            <h6 class='mb-2 pb-1'>Giới tính: </h6>

                                            <div class='form-check form-check-inline'>
                                                <input
                                                    class='form-check-input'
                                                    type='radio'
                                                    name='sex'
                                                    id='femaleGender'
                                                    value='0'
                                                />
                                                <label class='form-check-label' for='femaleGender'>Nữ</label>
                                            </div>

                                            <div class='form-check form-check-inline'>
                                                <input
                                                    class='form-check-input'
                                                    type='radio'
                                                    name='sex'
                                                    id='maleGender'
                                                    value='1'
                                                />
                                                <label class='form-check-label' for='maleGender'>Nam</label>
                                            </div>

                                        </div>
                                    </div>
                                    <div class='row'>

                                        <div class='col-md-6 mb-4'>
                                            <input
                                                type='text'
                                                maxlength='100'
                                                id='adress'
                                                name='adress'
                                                class='form-control form-control-lg'
                                                required
                                            />
                                            <label class='form-label' for='adress'>Nơi sinh</label>
                                        </div>

                                        <div class='col-md-6 mb-4'>
                                            <input
                                                type='file'
                                                id='Avatar'
                                                name='avatar'
                                                class='form-control form-control-lg'
                                                required
                                            />
                                            <label class='form-label' for='Avatar'>Avatar</label>
                                        </div>
                                    </div>
                                    <div class='row'>
                                        <div class='col-md-6 mb-4'>
                                            <div class='form-outline'>
                                                <input
                                                    type='text'
                                                    maxlength='50'
                                                    id='accountName'
                                                    name='accountName'
                                                    class='form-control form-control-lg'
                                                    required
                                                />
                                                <label class='form-label' for='lastName'>Tên đăng nhập</label>

                                            </div>
                                        </div>
                                        <div class='col-md-6'>

                                            <label class='form-label' for='major'>Ngành học :</label>
                                            <select id='major' name='major'>
                                                <option value='CNTT'>Công nghệ thông tin</option>
                                                <option value='KT'>Kinh tế</option>
                                                <option value='OTO'>Ô tô</option>
                                                <option value='QTKD'>Quản trị kinh doanh</option>
                                                <option value='TCNH'>Tài chính ngân hàng</option>

                                            </select>

                                        </div>

                                    </div>

                                {{/if}}
                                <div class='mt-4 pt-2'>
                                    <input class='btn btn-primary btn-lg' type='submit' value='Đăng ký' />
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>